[package]
name = "tower-grpc-examples"
version = "0.1.0"
authors = ["Carl Lerche <me@carllerche.com>"]

[[bin]]
name = "helloworld-server"
path = "src/helloworld/server.rs"

[[bin]]
name = "helloworld-client"
path = "src/helloworld/client.rs"

[[bin]]
name = "route-guide-server"
path = "src/routeguide/server.rs"

[[bin]]
name = "route-guide-client"
path = "src/routeguide/client.rs"

[[bin]]
name = "interop-client"
path = "src/interop/client.rs"

[[bin]]
name = "empty_unary_client"
path = "src/interop/empty_unary_client.rs"

[dependencies]
futures = "0.1"
bytes = "0.4"
env_logger = "0.4"
log = "0.3"
http = "0.1"
prost = { git = "https://github.com/danburkert/prost" }
prost-derive = { git = "https://github.com/danburkert/prost" }
tokio-core = "0.1"
tower = { git = "https://github.com/tower-rs/tower" }
tower-h2 = { git = "https://github.com/tower-rs/tower-h2" }
tower-grpc = { path = "../" }

# For the routeguide example
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"

# for the gRPC-interop tests
clap = "~2.29"
console = "0.5.0"

[build-dependencies]
tower-grpc-build = { path = "../tower-grpc-build" }

[patch.crates-io]
http = { git = "http://github.com/hyperium/http", rev = "5f362a32278891672f428d570d46387fe6896a5d" }
